<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GAEDemo.html</welcome-file>
  </welcome-file-list>
	
  <!-- Servlets -->
  <servlet>
  	<servlet-name>loginService</servlet-name>
  	<servlet-class>ocado.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/gaedemo/login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>stockService</servlet-name>
  	<servlet-class>ocado.server.StockServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>stockService</servlet-name>
  	<url-pattern>/gaedemo/stock</url-pattern>
  </servlet-mapping>
  
  <!-- Unnecessary -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ocado.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gaedemo/greet</url-pattern>
  </servlet-mapping>
  

</web-app>
